body {
    background-image: url("https://ichef.bbci.co.uk/images/ic/1200x675/p01grdmj.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
     }