body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/6443fc2b2933363add2016d7/1683897384118-RU9JRWQF5A7UZALCHYLO/King+Henry+II");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}