body {
    background-image: url("https://cdn.mos.cms.futurecdn.net/7DbJPAKivfHcgdSfUMKtei.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
