body {
    background-image: url("https://static.lpnt.fr/images/2018/12/31/17780691lpw-17780680-article-jpg_5843431_1250x625.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
     }