body {
    background-image: url("https://www.factinate.com/storage/app/media/factinate/2024/12/9/lionheart-MSN-1024x607.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
h1 {
  font-size: 30px;
  font-weight: seriff;
  font-family: Helvetica;
    color: blue;
}    
h3 {
    font-size: 20px;
    font-family: Times New Roman, serif;
    color: white;
}
.auteur {
  font-size: 16px;
    font-family: Helvetica, sans serif;
  color: white;
}

p {
  font-size: 20px;
  font-family: Times New Roman, serif;
  color: black;
}
